.header-container{
    background-color: rgb(168, 154, 154);
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    font-family: 'Indie Flower', cursive;
}
.image>img{
    width: 168px ;
    padding-right: 20px;
}
.header-container>.item{
    padding-left: 15px;
    margin-bottom: 30px;
}
.menu-context{
    display: flex;
    background-color: rgb(241, 238, 238);
    flex-direction: row;
    margin-top: 10px;

}
.menu{
    display: flex;
    flex-direction: column;
    width: 485px;
    background-color: rgb(227, 250, 146);
    height: 350px;
    border-radius: 30px;
}
.menu>a{

    margin: 10px;
    text-align: center;
    text-decoration: none;
    margin-top: 15px;
}
.context>h1{
    font-family: 'Playfair Display', serif;
}
p{
    padding-left: 5px;
}
